<li id="kpt_entry_<%= kpt_entry.id %>" class="<%= kpt_entry.kindname %>">
  <%= kpt_entry.description %>
  <div class="detail">
    <%= kpt_entry.user.name %> : <%= kpt_entry.created_at %>
  </div>
</li>
